<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
<style>
    body{
        text-align:center;
        background-color: aquamarine;
    }
    img{
        border: 2px solid blueviolet;
        width: 300px;
        margin-left: 8dp;
    }

    
</style>
</head>

<body>

    <h2>Eis um gato</h2>

    <img src="static/gatoSalada.jpg">
    
    <a href="https://www.wikipedia.org/">Visite o site</a>

    <p>Sobre gatos</p>

    <ul>
        <li> Gatos fofos</li>
        <li> Gatos bravos</li>
        <li> Gatos dorminhocos</li>
    </ul>


</body>
</html>